  header { 
      min-height: 100vh;
  background :
  linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7) ) ,
  url(../images/header.jpg)  ;
  background-position: center;
  background-size: cover;
  }

  .form-control { 
  width: 264px;
  }

  section img { 
      min-height: 240px;
      max-height: 250px;
  }
  section{
    font-size: 20px;
  }
  footer  {
    margin-left: 460px;
  }
  footer a { text-decoration: none;
    padding-left: 20px; 
  }
  section img { 
    transform: scale(.8);
  }
  section img:hover{
    transform: scale(1);
  }
    .logo-form { 
      width: 400px;
      height: 400px;
    }